<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="text-center bg-light">

<form class="form-signin mt-5" action="/auth/login" method="post">
    <h1 class="mb-3 font-weight-normal">Welcome to Listee</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="username" class="form-control" type="text" placeholder="email address" type="email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" class="form-control" type="password" placeholder="password" type="password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">log in</button>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <a href="/auth/signup">Or create an account</a>
</form>
</body>
</html>