<!DOCTYPE html>
<html lang="en">
<%- include('list/head') %>
<body class="text-center">
<form class="form-signin" action="/auth/signUp" method="post" enctype="application/x-www-form-urlencoded">
    <h1 class="mb-3 font-weight-normal">Sign up to Listee</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" class="form-control" type="email" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" class="form-control" type="password" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

    <a href="/auth/login">have an acccount? Log in here</a>
</form>
</body>
</html>