<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<h1><%= heading %></h1>
<label>list name</label>
<input id="listname" name="listname" type="text" placeholder="list name">
<button type="button" id="submit" value="Add Item">Create list</button>
<br>
<h2>List Items</h2>
<div id="list_items"></div>
<input type="text" id="word" placeholder="add an item">
<button type="button" id="add" value="Add Item">Add item</button>
<br>
<ul id="list">
</ul>


<script>
    <!--    TODO move JS to a separate file -->
    let items = new Map();
    let itemNum = 0;

    document.getElementById('add').onclick = function addItem() {

        let item = document.getElementById('word').value;
        if (item === '') {
            console.log('item is empty');
            return;
        }
        console.log('adding an item');
        console.log(item);
        let key = 'item' + itemNum++;
        items.set(key, item);
        appendListItem(item, key);
        document.getElementById('word').value = ''; // reset input text
        setAddItemfocus();
    }

    function appendListItem(item, id) {
        let node = document.createElement('DIV');
        node.setAttribute('id', id);
        node.setAttribute('class', 'listItem');
        let textNode = document.createTextNode(item)
        node.appendChild(textNode);
        document.getElementById('list_items').appendChild(node);
        appendRemoveButton(node);
    }

    function appendRemoveButton(itemNode) {
        let button = document.createElement('BUTTON');
        button.setAttribute('class', 'remove-btn');
        button.setAttribute('data-itemId', itemNode.id);
        let textNode = document.createTextNode('remove')
        button.appendChild(textNode);
        itemNode.appendChild(button);
        button.addEventListener('click', function (event) {
            console.log('you clicked remove');
            console.log(event);
            let itemId = event.target.getAttribute('data-itemId');
            removeItem(itemId);
        });
    }

    function removeItem(itemId) {
        let element = document.getElementById(itemId);
        console.log(element);
        console.log('removing ' + items.get(element.id) + ' and element id ' + element.id);
        element.parentNode.removeChild(element);
        items.delete(element.id);
    }

    const xhr = new XMLHttpRequest();
    xhr.onload = function () {
        window.location = this.responseURL;
    };

    document.getElementById('submit').onclick = function submitList() {
        let listname = document.getElementById('listname').value;
        if (listname === '') {
            console.log('list name is empty');
            alert('add a list name to create your list');
            return;
        }
        if (items.size == 0) {
            alert('your list is empty add some items');
            return;
        }
        console.log(Array.from(items.values()));

        let list = {
            listname: listname,
            items: Array.from(items.values())
        }

        xhr.open("POST", '/lists/<%= userId %>/create/', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(list));
    }

    window.onload = function () {
        setAddItemfocus();
        const item = document.getElementById("word");
        const listname = document.getElementById('listname');
        const removeBtns = document.getElementsByClassName('remove-btn');

        // Execute a function when the user releases a key on the keyboard
        item.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                console.log('you hit enter');
                document.getElementById('add').click();
            }
        });
        listname.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                console.log('you hit enter');
                document.getElementById('submit').click();
            }
        })
    };

    function setAddItemfocus() {
        document.getElementById("word").focus();
    }

</script>
</body>
</html>