<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<%= title %></title>
</head>
<body>
<h1><%= heading %></h1>
<button type="button">Add item</button><br>
<button type="button">Submit list</button>

</body>
</html>