<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
<h1><%=title%></h1>
<button onclick="window.location.href = '/lists/1';">login</button>
</body>
</html>