/*
    Auth form pages
*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*
    List management pages
*/

form.remove-list {
    display: inline-block;
}

div.list-item {
    display: inline-block;
}

.hide {
    display: none;
}

.deleted {
    text-decoration: line-through;
    color: red;
}

.label {
    font-size: 24px;
}

/*
    Material icon settings
*/
.material-icons-two-tone {
    cursor: pointer;
}

/* Rules for sizing the icon. */
.material-icons-two-tone.md-18 {
    font-size: 18px;
}

.material-icons-two-tone.md-24 {
    font-size: 24px;
}

.material-icons-two-tone.md-36 {
    font-size: 36px;
}

.material-icons-two-tone.md-48 {
    font-size: 48px;
}

.material-icons-two-tone.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as black on a light background. */
.material-icons-two-tone.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons-two-tone.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons-two-tone.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons-two-tone.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
