form.remove-list {
    display: inline-block;
}

div.list-item {
    display: inline-block;
}


.hide {
    display: none;
}

.deleted {
    text-decoration: line-through;
    color: red;
}

.material-icons-two-tone {
    cursor: pointer;
}

/* Rules for sizing the icon. */
.material-icons-two-tone.md-18 { font-size: 18px; }
.material-icons-two-tone.md-24 { font-size: 24px; }
.material-icons-two-tone.md-36 { font-size: 36px; }
.material-icons-two-tone.md-48 { font-size: 48px; }

.material-icons-two-tone.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as black on a light background. */
.material-icons-two-tone.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-two-tone.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons-two-tone.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-two-tone.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
