<button id="edit-btn" onclick="<%= editAction %>"  class="update-page" type="button">edit</button>
<button id="save-btn" onclick="<%= saveAction %>" class="update-page hide" type="button">save</button>