<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a list</title>
</head>
<body>
<!-- TODO look at creating a partial for this-->
<h1>List name: <%= listId %></h1>
<h2>Items </h2>
<% for (const item of items) { %>
<p><%= item %></p>
<% } %>
</body>
</html>