<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List name: <%= listId %></h1>

<h2>Items </h2>
<% for (const item of items) { %>
    <p><%= item %></p>
<% } %>

</body>
</html>