<div id="save-ok" class="alert alert-success alert-dismissible fade show" role="alert">
    <%- include('list/includes/alertsCloseButton')%>
    Your list changes successfully saved
</div>
<div id="save-failed" class="alert alert-danger fade show" role="alert">
    <%- include('list/includes/alertsCloseButton')%>
    Your changes could not be saved, please try again
</div>